*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow-x: hidden; 
}

nav{
    width: 100%;
    height: 120px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover{
    color:#F39C12;;
}

#img{
    width: 200px;
    height: auto;
    margin-top: 25px;
    object-fit: cover;
}

#seccion1{
    width: 100%;
    height: 500px;
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
}

#cajon6{
    width: 900px;
    height: 500px;
    background-color: #F39C12;
    background-position: center;
    background-image: url(../img/vino5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#cajon1{
    width: 400px;
    height: 500px;
    background-color: #F39C12 ;
    
}

h1{
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 25px;
    border-bottom: 2px solid #ffffff;
    width: 300px;
    margin: auto;
    font-family: 'Playfair Display', serif;
}

#texto1{
    text-align: justify;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    font-family: 'Tan Perla', serif;
    color: #ffffff;
}

#seccion2{
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}

#cajon2{
    width: 1200px;
    height: 150px;
    position: relative;
    top: 25px;
}

h2{
    font-size: 35px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

#texto2{
    font-size: 20px;
    color: #6d6a6a ;
    padding-top: 25px;
    text-align: center;
    font-family: 'Tan Perla', serif;

}

#seccion3{
    width: 100%;
    height: 600px;
    display: flex;
}

h3{
    font-size: 35px;
    padding-left: 525px;
    padding-top: 25px;
    text-align: center;
    position: absolute;
    font-family: 'Playfair Display', serif;
}

.cajon3{
    width: 280px;
    height: 425px;
    margin: auto;
    background-color: #F6F6F6 ;
    position: relative;
    top: 50px;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);

}

.img2{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    position: relative;
    left: 40px;
    top: 20px;
    object-fit: cover;
}

h4{
    font-size: 25px;
    color: #F39C12;
    text-align: center;
    padding-top: 25px;
    font-family: 'Playfair Display', serif;
}

#texto3{
    font-size: 17px;
    color: #6d6a6a ;
    padding-top: 25px;
    text-align: center;
    font-family: 'Tan Perla', serif;
}

#boton1{
    display: inline-block;
    background: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 90px;
    border-radius: 5px;
    border-radius: 10px;
}

#boton1:hover{
    background-color: #F39C12;
    color: #6d6a6a;
}

#seccion4{
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}

#cajon5{
    width: 600px;
    height: 450px;
    background-color: #F6F6F6; 
    position: relative;
    top: 20px;
    border-radius: 5px;
}

#img4{
    width: 300px;
    height: 450px;
    position: absolute;
     border-radius: 5px;
}

h5{
    font-size: 35px;
    padding-left: 350px;
    padding-top: 75px;
    font-family: 'Playfair Display', serif;
}

#texto4{
    font-size: 15px;
    text-align: justify;
    padding-left: 350px;
    padding-right: 25px;
    padding-top: 50px;
    font-family: 'Tan Perla', serif;
}

#lis1{
    text-align: justify;
    list-style: none;
    font-size: 18px;
    padding: 15px;
    padding-top: 50px;
    padding-left: 400px;
    
}

#boton2{
    text-decoration: none;
    padding: 10px 40px;
    list-style: none;
    background-color: #F39C12;
    margin-left: 400px;
    margin-top: 50px;
     border-radius: 10px;
}

#boton2:hover{
    background-color: #000000;
    color: #F39C12;
}

#img3{
    width: 300px;
    height: 450px;
    position: absolute;
     border-radius: 5px;
}

footer {
    background-color: #f5f5f5;
    padding-top: 50px;
}

.cajon9 {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
}

.cajon8 {
    width: 30%;
}

.cajon8 h6 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #ff9900; 
    margin-bottom: 15px;
}

.cajon8 p {
    font-size: 14px;
    color: #6d6a6a;
    line-height: 1.6;
    font-family: 'Tan Perla', serif;
}

#telefono {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}



#redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px 0;
    background-color: #f5f5f5;
}

#img5 {
    width: 35px;
    height: 35px;
    cursor: pointer;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
}


#menu-hamburguesa {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

#menu-hamburguesa span {
    display: block;
    height: 3px;
    width: 100%;
    background: #000;
    border-radius: 2px;
    transition: all 0.3s ease;
}

@media (max-width: 1024px) {
    nav ul li {
        font-size: 18px;
        padding: 8px;
    }

    #cajon6 {
        width: 100%;
    }

    #cajon1 {
        width: 100%;
        height: auto;
        padding-bottom: 40px;
    }

    #texto1 {
        padding: 20px 40px;
        font-size: 18px;
    }

    #seccion3 {
        flex-wrap: wrap;
        height: auto;
    }

    .cajon3 {
        width: 45%;
        margin-bottom: 30px;
    }

    #seccion4 {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    #cajon5 {
        width: 90%;
        margin-bottom: 30px;
    }
}


@media (max-width: 768px) {

    
    .menu-toggle {
        display: flex;
    }

   
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #ffffff;
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        text-align: center;
        border-top: 1px solid #ddd;
        z-index: 10;
    }

   
    nav ul.show {
        display: flex;
    }

    nav ul li {
        padding: 15px 0;
        font-size: 22px;
        border-bottom: 1px solid #f2f2f2;
    }

    #img {
        width: 160px;
        margin-top: 0;
    }

    #seccion1 {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    #cajon6, #cajon1 {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 30px;
        padding-top: 40px;
    }

    #texto1 {
        font-size: 18px;
        padding: 20px;
    }

    #seccion2 {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    #cajon2 {
        width: 90%;
        height: auto;
    }

    h2 {
        font-size: 28px;
    }

    #texto2 {
        font-size: 18px;
        padding: 10px 15px;
    }

    h3 {
        position: static;
        padding: 20px 0 0;
    }

    .cajon3 {
        width: 80%;
        margin-bottom: 40px;
    }

    .img2 {
        width: 150px;
        height: 150px;
        left: calc(50% - 75px);
    }

    h4 {
        font-size: 22px;
        padding-top: 20px;
    }

    #texto3 {
        font-size: 16px;
        padding: 15px;
    }

    #boton1 {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #seccion4 {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    #cajon5 {
        width: 90%;
        height: auto;
    }

    #img3, #img4 {
        position: static;
        width: 100%;
        height: auto;
        border-radius: 5px 5px 0 0;
    }

    h5 {
        font-size: 25px;
        padding: 20px;
        text-align: center;
    }

    #texto4, #lis1 {
        padding: 15px;
        font-size: 16px;
    }

    #boton2 {
        margin: 20px auto;
        display: block;
    }

    footer .cajon9 {
        flex-direction: column;
        align-items: center;
    }

    .cajon8 {
        width: 90%;
        text-align: center;
        margin-bottom: 20px;
    }

    .redes-sociales img {
        width: 30px;
        height: 30px;
    }

    #menu-principal {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        border: 1px solid #ccc;
        padding: 20px;
        gap: 15px;
        z-index: 100;
    }

    #menu-principal.active {
        display: flex;
    }

    #menu-hamburguesa {
        display: flex;
    }
}



